<ul>
  <li><a href=/admin/dashboard><i class="material-icons">dashboard</i> Dashboard</a></li>
  <li><a href="#"><i class="material-icons">inventory</i> Products</a></li>
  <li><a href="#"><i class="material-icons">shopping_cart</i> Orders</a></li>
  <li><a href="#"><i class="material-icons">store</i> Sellers</a></li>
  <li><a href="#"><i class="material-icons">settings</i> Settings</a></li>
  <li><a href="#"><i class="material-icons">logout</i> Logout</a></li>
</ul>