<nav class="navbar">
    <div class="navbar-logo">
        <a href="/" class="navbar-brand">Merca-Finds</a>
    </div>
    <ul class="navbar-links">
        <li class="navbar-item">
            <a href="/system/register" class="navbar-link">Request to be a Seller</a>
        </li>
        <li class="navbar-item">
            <a href="/website" class="navbar-link">Go to Website</a>
        </li>
        <li class="navbar-item">
            <a href="/websiteLogin" class="navbar-link navbar-button">Log in as Customer</a>
        </li>
    </ul>
</nav>
