<nav class="navbar">
    <div class="navbar-logo">
        <a href="/" class="navbar-brand">Merca-Finds</a>
    </div>
    <ul class="navbar-links">
        <li class="navbar-item">
            <a href="/customer/register" class="navbar-link">Sign Up to Shop!</a>
        </li>
        <li class="navbar-item">
            <a href="/customer/product-cart" class="navbar-link">Go to My Cart</a>
        </li>
        <li class="navbar-item">
            <a href="/websiteLogin" class="navbar-link navbar-button">Login as Customer</a>
        </li>
    </ul>
</nav>