<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Merca-Finds Seller Registration</title>
</head>
<body>

    <!-- This one is already working.
          TO DO: Aesthetics of the System-->
    <!-- Registration form for the system (Seller) -->
    <div class="systemRegister-container">
        <h1 class="systemRegister-text-header">Seller Registration</h1>
        <form class="systemRegister-form" id="registerForm" method="POST" action="/system/register">
            <!-- Input for Username -->
            <input class="systemRegister-input" type="text" placeholder="Username (Email)" id="username" name="username" required>

            <!-- Input for First Name -->
            <input class="systemRegister-input" type="text" placeholder="First Name" id="fname" name="fname" required>

            <!-- Input for Last Name -->
            <input class="systemRegister-input" type="text" placeholder="Last Name" id="lname" name="lname" required>

            <!-- Input for Contact Number -->
            <input class="systemRegister-input" type="text" placeholder="Contact Number" id="contactNumber" name="contactNumber" required>

            <!-- Input for Address -->
            <input class="systemRegister-input" type="text" placeholder="Business Address" id="address" name="address" required>

            <!-- Input for Password -->
            <input class="systemRegister-input" type="password" placeholder="Password" id="password" name="password" required>

            <!-- Input for Confirm Password -->
            <input class="systemRegister-input" type="password" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword" required>

            <!-- Submit Button -->
            <button type="submit" class="systemRegister-button">Register</button>
        </form>
    </div>
</body>
</html>
