<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>System Login</title>
</head>
<body>

    <%- include('partials/systemLoginnavebar') %>
    <!-- Main Login Section -->
    <div class="systemLogin-container">
        <!-- Form Section -->
        <div class="systemLogin-form-container">
            <h1 class="systemLogin-text-header">Seller Login</h1>
            <form class="systemLogin-form" method="POST" action="/systemLogin">
                <input class="systemLogin-input" type="text" placeholder="Email" name="username">
                <input class="systemLogin-input" type="password" placeholder="Password" name="password"> 
                <button class="systemLogin-button" type="submit">Log In</button> 
            </form>
        </div>

        <!-- Image Section -->
        <div class="systemLogin-image-container">
            <img src="/images/login-gif.gif" alt="System Login GIF" class="systemLogin-image">
        </div>
    </div>
</body>
</html>
