<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <title>Merca-Find Customers Registration</title>
</head>
<body>
    <!-- Include the Navbar -->
    <%- include('partials/customerRegisternavbar') %>
    <div class="customerRegister-container">
        <!-- Form Section -->
        <div class="customerRegister-form-container">
            <h1 class="customerRegister-text-header">Customer Registration</h1>
            <form class="customerRegister-form" id="registerForm" method="POST" action="/customer/register">
                <input class="customerRegister-input" type="email" placeholder="Email" id="username" name="username" required>
                <input class="customerRegister-input" type="text" placeholder="First Name" id="fname" name="fname" required>
                <input class="customerRegister-input" type="text" placeholder="Last Name" id="lname" name="lname" required>
                <input class="customerRegister-input" type="text" placeholder="Contact Number" id="contactNumber" name="contactNumber" required>
                <input class="customerRegister-input" type="text" placeholder="Address" id="address" name="address" required>
                <input class="customerRegister-input" type="password" placeholder="Password" id="password" name="password" required>
                <input class="customerRegister-input" type="password" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword" required>
                <button type="submit" class="customerRegister-button">Register</button>
            </form>
        </div>

        <!-- Image Section -->
        <div class="customerRegister-image-container">
            <img src="/images/login-gif.gif" alt="Customer Registration GIF" class="customerRegister-image">
        </div>
    </div>
</body>
</html>
