<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Merca-Finds Login</title>
</head>
<body>
    <!-- Main Login Section -->
    <%- include('partials/websiteLoginnavbar') %>
    <div class="websiteLogin-container">
        <!-- Form Section -->
        <div class="websiteLogin-form-container">
            <h1 class="websiteLogin-text-header">Customer Login</h1>
            <form class="websiteLogin-form" method="POST" action="/websiteLogin">
                <input class="websiteLogin-input" type="text" placeholder="Email" name="username">
                <input class="websiteLogin-input" type="password" placeholder="Password" name="password"> 
                <button class="websiteLogin-button" type="submit">Log In</button> 
            </form>
        </div>

        <!-- Optional Image Section (if needed) -->
        <div class="websiteLogin-image-container">
            <img src="/images/login-gif.gif" alt="Website Login GIF" class="websiteLogin-image">
        </div>
    </div>
</body>
</html>
