/* styles.css */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a background color to the entire page */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style the login container */
.login-container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Style the login header */
.login-text-header {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Style the login form */
.login-form {
    text-align: center;
}

/* Style the input fields */
.login-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Style the login button */
.login-button {
    width: 100%;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

/* Change button color on hover */
.login-button:hover {
    background-color: #2980b9;
}

/* Center the button text */
.login-button:focus {
    outline: none;
}

/* Style for the link (if you have any) */
.login-link {
    color: #3498db;
    text-decoration: none;
}

/* Style for the link on hover */
.login-link:hover {
    text-decoration: underline;
}




body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.form-group {
    text-align: left;
    margin: 10px 0;
}

label {
    display: block;
    font-size: 12px;
    margin-bottom: 4px;
    color: #333;
}

.user-creation-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 50px;
}

.user-creation-header {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

#user-creation-form {
    text-align: center;
}

input, select {
    width: 150%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#createUserButton {
    width: 100%;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

#createUserButton:hover {
    background-color: #2980b9;
}

#createUserButton:focus {
    outline: none;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}

.close:hover {
    color: #f00;
}


